SECRET_KEY=your-secret-key-here
ACCESS_TOKEN_EXPIRE_MINUTES=30
SQLITE_DB_PATH=./data.db
MAX_ATTEMPTS=5
LOCK_TIME_MINUTES=30
SMTP_URL="smtppro.zoho.in"
SMTP_PORT=465
SMTP_USER="support@summence.com"
SMTP_PWD="zzzzzzzz"
SQLITE_DB_PATH="C:/Users/akhil/code/AK/supply-chain-lite/scl-backend/data/main/database.sqlite3"
DATA_FOLDER="C:/Users/akhil/code/AK/supply-chain-lite/scl-backend/data"