SECRET_KEY=yahan-secret-dalne-ka-mauka-he-aur-yeh-secret-key-he
PASSWORD_PEPPER=password-pepper-bahut-jaruri-he
ACCESS_TOKEN_EXPIRE_DAYS=1
SQLITE_DB_PATH=./data.db
MAX_ATTEMPTS=5
LOCK_TIME_MINUTES=30
SMTP_URL="smtppro.zoho.in"
SMTP_PORT=465
SMTP_USER="support@summence.com"
SMTP_PWD="zzzzzzzz"
BASE_URL=http://localhost:3000
DATA_FOLDER="./data/"
LOG_LEVEL=INFO
BROKER_URL="redis://localhost:6379/0"
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_URL=
SETUP_S3=0
TASK_PROCESS_TIMEOUT_MINUTES=60
SQLITE_DIFF_TOOL=sqldiff.exe
TEMP_FILE_RETENTION_MINUTES=60
CELERY_LOG_RETENTION_DAYS=7
CELERY_MODEL_RETENTION_DAYS=30
VACUUM_INTERVAL_DAYS=7
EXECUTION_LOG_RETENTION_DAYS=30
SQL_HISTORY_MAX_RECORDS_PER_USER=100
TASK_HISTORY_MAX_RECORDS_PER_USER=30